.buttons {
  display: flex;
  gap: 10px;
  padding: 20px;
}

@media (max-width: 667px) {
  .buttons {
    padding-top: 0;
    flex-direction: column;
  }
}

.buttons__button {
  border: unset;
  background: unset;
  color: maroon;
  font-weight: bold;
  transition: filter 1s;
}

.buttons__button:hover {
  filter: brightness(110%);
  cursor: pointer;
}

.buttons__button:active {
  filter: brightness(120%);
}

.buttons__button:disabled {
  color: #ccc;
}
